
<!-- <div *ngIf="data">
  {{ data | json }}
</div> -->
<p>
  <mat-toolbar color="primary">
    <span>My Application Movies</span>
  </mat-toolbar>
</p>
<!-- <app-table-movie></app-table-movie> -->
<p>
  <mat-toolbar >
    <span>List Movies</span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>

   
    <span class="example-spacer"></span>
    <button mat-raised-button color="primary" (click)="openAddMovie()">ADD MOVIE</button> 
  </mat-toolbar>
</p>

<p>
  <mat-toolbar >
    <app-movies ></app-movies>
    <span class="example-spacer"></span>
    <button mat-raised-button color="primary" (click)="DeleteMovie()">DELETE</button>
  </mat-toolbar>
</p>