<mat-toolbar  class="matTool">
  <mat-card *ngIf="modifications" class="movie-card">
    <mat-card-content class="card-header">Title:{{ modifications.title }}</mat-card-content>
    <mat-card-content class="card-content">Resume:{{ modifications.resume }}</mat-card-content>
    <mat-card-content *ngIf="modifications?.califications" class="califications">
      Califications: {{ modifications?.califications }}
    </mat-card-content>
  </mat-card>

  <span class="example-spacer"></span>

  <div class="action-buttons">
    <button mat-raised-button color="warn" [disabled]="!modifications" (click)="DeleteMovie(modifications!)">
      DELETE
    </button>
  </div>
</mat-toolbar>
