<mat-toolbar class="matTool">
    
    <mat-card-header>ADD A NEW MOVIE</mat-card-header>
    <mat-card class="matCard">
    <div class="matCardDiv">
        <mat-form-field>

            <mat-card-actions>
            <mat-label for="title">Name</mat-label>
            <input class ="formInput" matInput type="text" name="title" [(ngModel)] = "title">
            </mat-card-actions>
            
            <mat-card-actions>
            <mat-label for="endYear">End Year</mat-label>
            <input class ="formInput" matInput type="text" name="endYear" [(ngModel)] = "endYear">
            </mat-card-actions>
            
            <button type="submit" mat-raised-button color="primary" class="btnAdd" value = "add movie"
            (click) = "addMovie()">ADD MOVIE</button>
          </mat-form-field>
    </div>
  </mat-card>
  </mat-toolbar>
